*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    width:300px; 
    border-radius: 1%;
     border-style: solid; 
     border-color: black;
     margin: 10px; 
     background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
.btn{
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    color :black;
    border-style: none;
}
